<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-8">
            <div class="card shadow">
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="column_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xl-8">
            <div class="card shadow">
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="line_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xl-8">
            <div class="card shadow">
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="area_chart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>